# Python virtual environment
.venv/
__pycache__/
*.py[cod]
*$py.class

# Molecule
.molecule/
.pytest_cache/

# Ansible
*.retry

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
