[Interface]
Address = {{ wireguard_address_prefix }}.{{ groups['wireguard_nodes'].index(inventory_hostname) + 10 }}/{{ wireguard_netmask }}
ListenPort = {{ wireguard_port }}
PrivateKey = {{ wireguard_private_key }}

# Create VXLAN interface and bridge on interface up
PostUp = ip link add {{ vxlan_interface }} type vxlan id {{ vxlan_id }} local {{ wireguard_address_prefix }}.{{ groups['wireguard_nodes'].index(inventory_hostname) + 10 }} dstport {{ vxlan_port }} dev %i
PostUp = ip link set {{ vxlan_interface }} up
PostUp = ip link add {{ bridge_interface }} type bridge || true
PostUp = ip link set {{ bridge_interface }} address 02:00:00:00:00:{{ '%02x' | format(groups['wireguard_nodes'].index(inventory_hostname) + 10) }}
PostUp = ip link set {{ bridge_interface }} up
PostUp = ip link set {{ vxlan_interface }} master {{ bridge_interface }}
PostUp = ip addr add {{ bridge_address_prefix }}.{{ bridge_address_offset }}/{{ bridge_netmask }} dev {{ bridge_interface }} || true
{% if groups['wireguard_nodes'] | length > 1 %}
{% for host in groups['wireguard_nodes'] %}
{% if host != inventory_hostname %}
PostUp = bridge fdb append 02:00:00:00:00:{{ '%02x' | format(groups['wireguard_nodes'].index(host) + 10) }} dev {{ vxlan_interface }} dst {{ wireguard_address_prefix }}.{{ groups['wireguard_nodes'].index(host) + 10 }} || true
PostUp = bridge fdb append 00:00:00:00:00:00 dev {{ vxlan_interface }} dst {{ wireguard_address_prefix }}.{{ groups['wireguard_nodes'].index(host) + 10 }} || true
{% endif %}
{% endfor %}
{% endif %}

# Clean up interfaces on interface down
PostDown = ip link del {{ vxlan_interface }} || true
PostDown = ip link del {{ bridge_interface }} || true

{% if groups['wireguard_nodes'] | length > 1 %}
{% for host in groups['wireguard_nodes'] %}
{% if host != inventory_hostname %}
[Peer]
# {{ host }}
PublicKey = {{ hostvars[host]['wireguard_public_key'] }}
AllowedIPs = {{ wireguard_address_prefix }}.{{ groups['wireguard_nodes'].index(host) + 10 }}/32
{% set client_only_peers = wireguard_client_only_peers | default([]) %}
{% if host not in client_only_peers %}
Endpoint = {{ hostvars[host]['ansible_default_ipv4']['address'] }}:{{ wireguard_port }}
{% endif %}
{% set peer_client_only_peers = hostvars[host]['wireguard_client_only_peers'] | default([]) %}
{% if inventory_hostname in peer_client_only_peers %}
PersistentKeepalive = {{ wireguard_persistent_keepalive }}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
